@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&family=Poppins:wght@300&family=Roboto&display=swap');

.landingpage{
  background-color: rgb(135, 207, 255);
}

#landingimage {
    position: relative;
    width: 100%;
    height: 100vh;
}

.titletext{
	position: absolute;
	top: 35%;
	text-align: center;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
}

.titletext h1{
	font-size: 150px;
	font-weight: 500;
	color: #ffffff;
}

.titletext p{
	font-size: 30px;
	font-weight: 300;
	color: #ffffff;
}

.aboutus{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.aboutus h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.aboutus p{
  font-size: 20px;
  font-weight: 100;
  text-align: justify;
}

.video{
  display: block;
  justify-content: center;
  align-items: center;
}

