@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&family=Poppins:wght@300&family=Roboto&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	height: 60px;
	padding: 0 2resm;
	background-color: #68a4ff;
	color: #000000;
}

.logo img {
	margin-left: 10px;
	width: 100px;
	height: 40px;
}

nav{
	position: fixed;
	right: 0;
	justify-content: flex-end;
	display: flex;
	align-items: center;
}

nav a {
	margin: 20px;
	color: #000000;
	text-decoration: none;
}

.sticky-nav {
	position: fixed;
	top: 0;
	right: 0;
	justify-content: flex-end;
	width: 100%;
	background-color: #68a4ff;
	z-index: 1000;
}

nav a:hover {
	color: #003585;
}

header div,
nav {
	display: flex;
	align-items: center;
}